################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/bin
/obj

/src/Redarbor.TechnicalTest.Api/bin
/src/Redarbor.TechnicalTest.Api/obj

/src/Redarbor.TechnicalTest.Application/bin
/src/Redarbor.TechnicalTest.Application/obj

/src/Redarbor.TechnicalTest.Infrastructure/bin
/src/Redarbor.TechnicalTest.Infrastructure/obj

/src/Redarbor.TechnicalTest.Domain/bin
/src/Redarbor.TechnicalTest.Domain/obj

/src/BuildingBlocks/BuildingBlocks/obj
/src/BuildingBlocks/BuildingBlocks/bin

/src/BuildingBlocks/BuildingBlocks.Messaging/obj
/src/BuildingBlocks/BuildingBlocks.Messaging/bin

/tests/Redarbor.TechnicalTest.Application.Tests/obj
/tests/Redarbor.TechnicalTest.Application.Tests/bin